{% extends 'core/base.html' %}


{% block title %} Plans| {% endblock title %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Plans</h1>
                <h2 class="subtitle mt-4">Find the most suitable plan for your team</h2>
            </div>
        </div>
    </section>

    <div class="columns mt-6">
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Free</p>
                            <p class="subtitle is-6">$0</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>3 Projects</li>
                            <li>1 Member</li>
                            <li>10 Tasks per Project</li>
                        </ul>
                        
                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Basic</p>
                            <p class="subtitle is-6">$5</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>10 Projects</li>
                            <li>15 Member</li>
                            <li>30 Tasks per Project</li>
                        </ul>
                        
                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Pro</p>
                            <p class="subtitle is-6">$10</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>25 Projects</li>
                            <li>50 Member</li>
                            <li>100 Tasks per Project</li>
                        </ul>
                        
                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Need more?</p>
                            <p class="subtitle is-6">$?</p>
                        </div>
                    </div>

                    <div class="content">
                        <ul>
                            <li>Need more Projects?</li>
                            <li>Need more Member?</li>
                            <li>Need more Tasks per Project?</li>
                        </ul>
                        
                        <hr>

                        <a href="#" class="button is-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% endblock content%}