{% extends 'core/base.html' %}


{% block title %} Privecy Policy| {% endblock title %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Privecy Policy</h1>
                <h2 class="subtitle mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore debitis dicta, explicabo voluptatum quo fuga consequatur qui corrupti deleniti dignissimos, quos voluptates doloribus necessitatibus, atque quae! Cupiditate exercitationem eos ipsam?</h2>
            </div>
        </div>
    </section>

    {% endblock content%}